
block content

    fieldset
        legend Add Restaurateur
        p Please fill the fields to add the restaurateur.
        div#mandatoy.warningCreateAccount Fields with an "*" are mandatory
        div#error.warningCreateAccount
        form(name="account", action="/manageRestaurateur/addNewRestaurateur/addUser", method="post")
            table

                tr
                    td Restaurant(Optional) :
                    td
                        select(name="selected_restaurants" ,id="selected_restaurants")
                            option
                            - for (var x = 0; x < available_restaurants.length ; x++)
                                option(name='#{available_restaurants[x]}') #{available_restaurants[x]}


                tr
                    td Username :
                    td
                        input(name='username',id='username',class='form-control' , type='text', placeholder='Username', required autofocus, autocomplete="off", onblur="checkAccountExist();")

                tr
                    td Password :
                    td
                        input(name='userPassword',id='userPassword',class='form-control', type='password', placeholder='Password', required autofocus, autocomplete="off")
                tr
                    td First Name :
                    td
                        input(name='userFirstName',id='userFirstName',class='form-control', type='text', placeholder='First Name', required autofocus, autocomplete="off")
                tr
                    td Last Name :
                    td
                       input(name='userSecondName',id='userSecondName',class='form-control', type='text', placeholder='Last Name', required autofocus, autocomplete="off")

                tr
                    td Birth Date :
                    td
                        input(name='userBirthDate',id='userBirthDate',class='form-control', type='text', placeholder='YYYY-MM-DD', required autofocus, autocomplete="off")
                tr
                    td Email :
                    td
                        input(name='userEmail',id='userEmail',class='form-control', type='text', placeholder='Email', required autofocus, autocomplete="off")

                tr
                    td Phone Number :
                    td
                        input(name='userPhoneNumber',id='userPhoneNumber',class='form-control', type='text', placeholder='###-###-####', required autofocus, autocomplete="off")
                tr
                    td Civic No. :
                    td
                        input(name='userCivicNumber',id='userCivicNumber',class='form-control', type='text', placeholder='Civic No.', required autofocus, autocomplete="off")

                tr
                    td Appartment :
                    td
                        input(name='userAppNumber',id='userAppNumber',class='form-control', type='text', placeholder='App. No.(Optionnal)', autofocus, autocomplete="off")
                tr
                    td Street :
                    td
                        input(name='userStreet',id='userStreet',class='form-control', type='text', placeholder='Street', required autofocus, autocomplete="off")

                tr
                    td City :
                    td
                        input(name='userCity',id='userCity',class='form-control', type='text', placeholder='City', required autofocus, autocomplete="off")

                tr
                    td Province :
                    td
                        input(name='userProvince',id='userProvince',class='form-control', type='text', placeholder='Province', required autofocus, autocomplete="off")

                tr
                    td ZIP Code :
                    td
                        input(name='userZipCode',id='userZipCode',class='form-control', type='text', placeholder='ZIP Code', required autofocus, autocomplete="off")

                tr
                    td
                        input#btnSubmitRestaurateur(name="submit_button",type="button", value="Add Restaurateur", class="btn btn-lg btn-primary btn-block", onclick="validateAccountFields();")


    //script(src='/javascripts/validateAccountFields.js')
    div#confirmationCreateRestaurateurModal.modal
        div.modalHolder
            h2 Confirm the informations
            p Here is the summary of your restaurateur informations :
            div#accountInformations
            button(onclick="modalVisbility(document.getElementById('confirmationCreateRestaurateurModal'));") Edit
            button(onclick="document.getElementById('account').submit();") Confirm