//
   Created by Gabriel on 2014-06-06.

header
    div#UserSalutation Hello, #{username}
    div#Logo
        a(href="/") Ez-Food
        div#Motto All the food at the tip of your finger!


    nav
        ul
            li Restaurant
            li
                a(href="/modifyAccount") Modify Account
            li
                a(href="/disconnect") Disconnect

