//
   Created by Gabriel on 2014-06-06.

header
    div#UserSalutation Hello, Asshole!
    div#Logo Ez-Food
        div#Motto All the food at the tip of your finger!


    nav
        ul
            li Restaurant
            li Je sais pas
            li Jm'en caliss

