//
   Created by Gabriel on 2014-07-22.

block content
    fieldset
        legend Menu Creation
        form(name="menu", action="/menu/createMenu", method="post")
            label(for='menuName') Menu name:
            input(name='menuName', type='text', placeholder='Menu name', class='form-control', required autofocus, autocomplete="off")

            label(for='menuDescription') Description
            input(name='menuDescription', type='textarea', placeholder='A nice little description for the menu you want to create!', class='form-control', autocomplete="off")





