//
   Created by Gabriel on 2014-06-06.


header
    div#Logo
        a(href='/') Ez-Food
        div#Motto All the food at the tip of your finger!
    nav
        ul
            li
                a(href='/createAccount', data-link='ajax') Create Account
            li
                a(href='/signIn', data-link='ajax') Sign In