//
   Created by Gabriel on 2014-06-06.


header
    div#Logo
        a(href='/') Ez-Food
        div#Motto All the food at the tip of your finger!
    nav
        ul
            li
                a#btnCreateAccount(onClick="createAccount();") Create Account
            li
                a#btnSignIn(onClick="signIn();") Sign In