extends layout
block content
    include Header
    div#content
        - for (var x = 0; x < restaurants.length ; x++)
            li
                //img(src="Ressources/Icones/supprimer.png", align="Right")
                h4 #{restaurants[x].name}



                img(src="RestaurantsRessources/#{restaurants[x]._id}/restaurant.jpg", height="200", width="200")
                //div
                    img(src="Ressources/Icones/modifier.png", align="Right")
                    img(src="Ressources/Icones/localiser.png", align="Right")