doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/globalStyle.css')
        link(rel='stylesheet', href='/stylesheets/headerStyle.css')
        link(rel='stylesheet', href='/stylesheets/accountStyle.css')
        link(rel='stylesheet', href='/stylesheets/menuStyle.css')
        link(rel='stylesheet', href='/stylesheets/modalStyle.css')
        link(rel='stylesheet', href='/stylesheets/cartStyle.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src="http://code.jquery.com/jquery-1.10.2.js")
        script(src='/javascripts/globals.js')
        script(src='/javascripts/accountValidation.js')
        script(src='/javascripts/MenuUtils.js')