block content

    h2 Manage Restaurateur
    br
    div#exitingRetaurateur
        | Available restaurateur :
        select#avalaibleRestaurateur
            - for (var x = 0; x < accounts.length ; x++)
                option(name='#{accounts[x]}') #{accounts[x]}
        button(type='button', onClick="modifyUser();") Modify
        button(type='button', onClick="deleteUser();") Delete

    div#addNewRestaurateur
        button(type='button', onClick="showAddNewRestaurateur();") Add new

