extends layout
block content
    include DisconnectHeader

    div#content
        fieldset#SignIn
            legend Sign in

            form(name="signIn", action="signIn/validate", method="post")
                input(name='username', type='text', placeholder='Username',class='form-control', required autofocus, autocomplete="off")
                br
                input(name='userPassword', type='password', placeholder='Password',class='form-control', required autofocus, autocomplete="off")
                br
                input(type="submit", value="Sign In", class="btn btn-lg btn-primary btn-block")

    include Footer
