li {
    border-radius: 10px 10px 10px 10px;
    border: 2px solid black;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    margin-top:10px;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:10px;
}


header {
    min-width: 960px;
    width:100%;
    height: 100px;
    background-color: black;
    position:relative;
}

footer{
    min-width: 960px;
    width: 100%;
    height: 65px;
    background-color: black;
    margin: 10px 0px 0px 0px;
}

#content{
    min-height: 500px;
    height:75%;
}

nav{
    position: absolute;
    display:inline-block;
    text-align: right;
    min-width: 100%;
    bottom: 0;
    right: 0;
}

nav ul{
    list-style-type: none;
    margin: 0px;
}

nav ul li{
    text-align: center;
    display: inline-block;
    min-width: 125px;
    background-color: lightgrey;
    color:black;
    margin:0px 5px 5px 0px;
    padding:5px;
    border-radius: 5px;
}

header div a,header div a:hover{
    text-decoration:none;
    color:white;
}

nav ul li a, nav ul li a:hover{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

#Copyright{
    text-align: center;
    color:white;
}

#Logo{
    color:white;
    font-size: 2.5em;
    font-family: Arial;
    padding: 5px 0px 0px 15px;
}

#UserSalutation{
    padding: 10px 10px 0px 0px;
    text-align: right;
    color:white;
    float:right;
}

#Motto{
    font-size: 0.3em

}



body {
    padding: 0px;
    margin: 0px;

    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: white;
}

h2 {
    margin:0 0 .5em 0;
}

a {
    color: #00B7FF;
}

#wrapper {
    padding-left:312px;
    position:relative;
}

#userList {
    margin:0 0 30px 0;
}
#userList table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
}
#userList table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
}
#userList table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}
#userList table td {
    background:#FFF;
    padding:5px 10px;
    text-align:center;
}

#userInfo {
    width:250px;
    position:absolute;
    top:0; left:0;
}
#userInfo p {
    padding:15px;
    border:1px solid #CCC;
    background:rgba(80,120,255,0.05);
}

fieldset {
    border-radius: 5px;
    border:2px solid;
    padding: 5px;
    margin:0;
    width:75%;
    margin: auto;
    margin-top: 10px;
}

legend{
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
}

.warningCreateAccount{
    font-size:0.75em;
    color:red;
    font-weight: bold;
    font-style:italic;
}

.warningCreateAccount{
    font-size:0.75em;
    color:red;
    font-weight: bold;
    font-style:italic;
}

input{
    border-radius: 5px;
    margin:5px;
}

input[type=submit]{
    border:0px;
    color:black;
    font-weight: bold;
    min-width: 125px;
    background-color: lightgrey;
    margin:5px;
    padding:5px;
}

#SignIn{
    width:25%;
    text-align: center;
    margin: auto;
}